header {
  background-color: gainsboro;
}

.navbar {
  ul {
    display: flex;
    gap: 1rem;
    padding: 1rem;
  }

  a,
  a:visited {
    text-decoration: none;
    color: black;
  }

  a.activeLink {
    font-weight: 500;
    color: cornflowerblue;
  }
}
